{% extends 'main.html' %}
{% load staticfiles %}
    
  {% block about_main %}

<div class="container background">
    <h2>The Weather Service</h2>

    Project for Database Management Systems course in Saint-Petersburg State University
    Web-service for weather forecasting and viewing meteorological history
    </br></br>

    <h3>Data structure</h3>

    The database contains data for cities, years, weather and user data
    </br></br>

    <h3>Goal</h3>   

    Application should be able to make predictions about weather on a certain day based on previous meteorological data, display weather history for determined time-period and possibly look for weather anomailes.
    </br></br>

    <h3>Contributors</h3>
    <a href="https://github.com/Scorpionchiques">
        <h4>Жарков Никита</h4>
    </a>
    <a href="https://github.com/Betekhtin">
        <h4>Бетехтин Артём</h4>
    </a>
</div>
{% endblock %}

{% block about_head %}

<title>О проекте</title>
{% endblock %}

{%block about_decor %}
             <li><a href="/history">История</a></li>
            <li><a href="/forecast">Прогноз</a></li>
          <li class="active"><a href="/about">О проекте</a></li>

            {% endblock %}
