{% extends 'main.html' %}
{% load staticfiles %}


{% block forecast_head %}
        <title>Прогноз | The weather service</title>
{% endblock %}

{%block forecast_main %}
        <main class="center-block">

            <form class="form-horizontal" action="/q_forecast/" method="post">
                <fieldset>
                    <legend>Прогноз</legend>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="country">Страна</label>
                        <div class="col-md-4">
                          <select id="country" name="country" class="form-control">
                            <option disabled selected value> ----------- </option>
                          </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="city">Город</label>
                        <div class="col-md-4">
                            <select id="city" name="city" class="form-control" disabled>
                              <option disabled selected value> ----------- </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="date_to">До</label>
                        <div class="col-md-4">
                            <input type="date" id="date_to" name="date_to" class="form-control" required></input>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="submit"></label>
                        <div class="col-md-4">
                            <button id="submit" name="submit" class="btn btn-success">Получить прогноз</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </main>
{% endblock %}

{% block forecast_script %}
        <script src="{% static 'js/query-form-control.js' %}"></script>
        <script>
          var countries = JSON.parse('{{ country | safe }}');
          var cities = JSON.parse('{{ city | safe }}');
          var minDate = "2016-11-09";
          var maxDate = "2016-11-16";
          formControl(countries, cities, minDate, maxDate);
        </script>
{% endblock %}

{%block forecast_decor %}
        <li><a href="/history">История</a></li>
        <li class="active"><a href="/forecast">Прогноз</a></li>
        <li><a href="/about">О проекте</a></li>

{% endblock %}
