{% extends 'main.html' %}
{% load staticfiles %}

{% block index_main %}


        <div class="container background">
            <h2>This is a home page</h2> </br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ex urna, aliquam nec imperdiet eget, congue a enim. Vestibulum in est mi. Phasellus pretium consectetur massa eu mollis. In a euismod diam. Donec et eros lorem. Quisque ex sem, vehicula gravida dui non, posuere tristique felis. Quisque cursus sem at lorem suscipit rhoncus. Maecenas a dignissim ante. </br></br>

            Aliquam laoreet magna risus. Maecenas nec leo ligula. Maecenas quis ullamcorper lorem. Nunc interdum ac leo in blandit. Phasellus auctor nisi a est efficitur, eget blandit felis aliquet. Pellentesque a venenatis augue. Aliquam rhoncus elit eu ipsum porttitor, et commodo lectus sagittis. Aenean eleifend facilisis erat, et viverra enim molestie ac. </br></br>

            Nam suscipit, risus sit amet convallis maximus, mauris magna tincidunt quam, et tristique turpis lorem in ex. Pellentesque eu ullamcorper nisi. Donec eget tortor id nibh tempus sodales eget id nunc. Quisque aliquam, nunc sit amet imperdiet laoreet, nibh sapien viverra est, non sollicitudin arcu nulla id enim. Fusce nec dapibus mi. Morbi aliquam sem eget tempus sagittis. Sed a eleifend augue. Suspendisse lacinia felis a velit cursus, eget consectetur mauris suscipit. Vestibulum in vehicula nunc, ut viverra libero. </br></br>

            Aenean pellentesque condimentum lacinia. Suspendisse placerat ligula sit amet lacinia fermentum. Quisque pulvinar erat ipsum, in mattis eros facilisis ac. Nam sed nisi tempus, hendrerit enim a, imperdiet purus. Vivamus ac consectetur lacus. Proin fringilla elit magna, vel sollicitudin sem volutpat vitae. Maecenas ut nisi maximus, aliquam augue sit amet, dapibus orci. Nulla ultricies vulputate ipsum et pharetra. </br></br>

            Donec suscipit magna ac suscipit fringilla. Duis eu pellentesque tellus. Cras augue velit, posuere vel gravida et, cursus ut lectus. Suspendisse sit amet lectus quis eros rutrum porta a ac dui. Etiam in suscipit mauris. In vel sem sed est condimentum pretium id at lorem. Pellentesque in pulvinar lectus. Nulla magna odio, mattis et dui et, tempor pellentesque ligula. Cras in ultricies metus, quis vestibulum ipsum. </br></br>
        </div>
{% endblock %}

{% block index_head %}


    <title>Домашняя страница | The weather service</title>
{% endblock %}


    {%block index_decor %}
           <li><a href="/history">История</a></li>
            <li><a href="/forecast">Прогноз</a></li>
            <li><a href="/about">О проекте</a></li>

            {% endblock %}

