{% load staticfiles %}
    <!DOCTYPE html>
    <html lang="ru">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <title>Домашняя страница | The weather service</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>

    <body>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <main>
        <form action="/login/" class="authform form-signin ajax" method="post"> {% csrf_token %}

            <fieldset>
                {{login_error}}

                <legend>Пожалуйста, войдите в систему</legend>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="login">Логин</label>
                    <div class="col-md-4">
                        <input name="username" type="text" class="input-block-level" placeholder="Ваш логин" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="password">Пароль</label>
                    <div class="col-md-4">
                        <input name="password" type="password" class="input-block-level" placeholder="Ваш пароль">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">
                        <div class="checkbox">
                            <label>
                                <input name="remember-me" type="checkbox" value="remember-me" checked>Запомнить меня
                            </label>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="act" value="login">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="submit"></label>
                    <div class="col-md-4">
                        <button class="btn btn-success" type="submit">Войти</button>
                        <span>или</span>
                        <a id="authorizaton" name="authorizaton" class="btn btn-default" href="/register.php">Зарегистрироваться</a>
                    </div>
                </div>
                </div>
            </fieldset>
        </form>
        </main>


        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </body>

    </html>
