 {% load staticfiles %}
    <!DOCTYPE html>
    <html lang="ru">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
      {% block index_head %}{% endblock %}
      {% block about_head %}{% endblock %}
        {% block history_head %}{% endblock %}
           {% block forecast_head %}{% endblock %}
         {% block hq_head %}{% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'style.css' %}">

    </head>

    <body>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
 <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand glyphicon glyphicon-home" href="/"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        {% block history_decor %}{% endblock %}
                        {% block about_decor %}{% endblock %}
                        {% block index_decor %}{% endblock %}
                            {% block forecast_decor %}{% endblock %}

                    </ul>
                    <!-- Right navbar -->
                    <ul class="nav navbar-nav navbar-right">
                        <form id="logout" class="ajax"  action="/logout/">
                            {% csrf_token %}
                            <input type="hidden" name="act" value="logout">
                            <div class="form-actions">
                                <button class="btn btn-large btn-success" type="submit">Выйти</button>
                            </div>
                        </form>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        {% block index_main %}{% endblock %}
        {% block about_main %}{% endblock %}
        {% block history_main %}{% endblock %}
        {% block hq_main %}{% endblock %}
        {% block forecast_main %}{% endblock %}
        {% block fq_main %}{% endblock %}

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% block history_script %}{% endblock %}
{% block hq_script %}{% endblock %}
        {% block forecast_script %}{% endblock %}
    </body>

    </html>
