{% extends 'main.html' %}
{% load staticfiles %}

{% block hq_head %}
        <title>История погоды | The weather service</title>
        <link rel="stylesheet" href="{%static 'tables.css'%}">
{% endblock %}

{% block hq_main %}
            <div id="hint" class="normal"></div>
            <form method="get" action="{%static 'weather_schema.dtd'%}" style="none">    
                <a class="btn btn-success" onclick="download_xml()">Скачать в XML</a>
                <button class="btn btn-primary" type="submit">XML Schema</button>
            </form>
            <table class="table table-bordered">
                <tr class="header">
                    <td onmouseover="tooltip( this , 'Время в данном населённом пункте. Учитывается летнее/зимнее время' ,  'hint' )" onmouseout="hideInfo(this , 'hint')" colspan="1">Дата/Время</td>
                    <td onmouseover="tooltip( this , 'Температура воздуха (градусы Цельсия) на высоте 2 метра над поверхностью земли' ,  'hint' )" onmouseout="hideInfo( this , 'hint' )">T</td>
                    <td onmouseover="tooltip( this , 'Атмосферное давление на уровне станции (миллиметры ртутного столба)' ,  'hint' )" onmouseout="hideInfo( this , 'hint' )">Po</td>
                    <td onmouseover="tooltip( this , 'Атмосферное давление, приведенное к среднему уровню моря (миллиметры ртутного столба)' ,  'hint' )" onmouseout="hideInfo( this , 'hint' )">P</td>
                    <td onmouseover="tooltip( this , 'Барическая тенденция: изменение атмосферного давления за последние три часа (миллиметры ртутного столба)' ,  'hint' )" onmouseout="hideInfo( this , 'hint' )">Pa</td>
                    <td onmouseover="tooltip( this , 'Относительная влажность (%) на высоте 2 метра над поверхностью земли' ,  'hint' )" onmouseout="hideInfo( this , 'hint' )">U</td>
                    <td onmouseover="tooltip( this , 'Направление ветра (румбы) на высоте 10-12 метров над земной поверхностью, осредненное за 10-минутный период, непосредственно предшествовавший сроку наблюдения' ,  'hint' )" onmouseout="hideInfo( this , 'hint' )">DD</td>
                    <td onmouseover="tooltip( this , 'Cкорость ветра на высоте 10-12 метров над земной поверхностью, осредненная за 10-минутный период, непосредственно предшествовавший сроку наблюдения (метры в секунду)' ,  'hint' )" onmouseout="hideInfo( this , 'hint' )">Ff</td>
                    <td onmouseover="tooltip( this , 'Максимальное значение порыва ветра на высоте 10-12 метров над земной поверхностью за 10-минутный период, непосредственно предшествующий сроку наблюдения (метры в секунду)' ,  'hint' )" onmouseout="hideInfo( this , 'hint' )">ff10</td>
                    <td onmouseover="tooltip( this , 'Максимальное значение порыва ветра на высоте 10-12 метров над земной поверхностью за период между сроками (метры в секунду)' ,  'hint' )" onmouseout="hideInfo( this , 'hint' )">ff3</td>
                    <td onmouseover="tooltip( this , 'Общая облачность' ,  'hint' )" onmouseout="hideInfo( this , 'hint' )">N</td>
                    <td onmouseover="tooltip( this , 'Текущая погода, сообщаемая с метеорологической станции' ,  'hint' )" onmouseout="hideInfo( this , 'hint' )">WW</td>
                    <td onmouseover="tooltip( this , 'Прошедшая погода между сроками наблюдения 1' ,  'hint' )" onmouseout="hideInfo( this , 'hint' )">W1</td>
                    <td onmouseover="tooltip( this , 'Прошедшая погода между сроками наблюдения 2' ,  'hint' )" onmouseout="hideInfo( this , 'hint' )">W2</td>
                    <td onmouseover="tooltip( this , 'Минимальная температура воздуха (градусы Цельсия) за прошедший период (не более 12 часов)' ,  'hint' )" onmouseout="hideInfo( this , 'hint' )">Tn</td>
                    <td onmouseover="tooltip( this , 'Максимальная температура воздуха (градусы Цельсия) за прошедший период (не более 12 часов)' ,  'hint' )" onmouseout="hideInfo( this , 'hint' )">Tx</td>
                    <td onmouseover="tooltip( this , 'Слоисто-кучевые, слоистые, кучевые и кучево-дождевые облака' ,  'hint' )" onmouseout="hideInfo( this , 'hint' )">Cl</td>
                    <td onmouseover="tooltip( this , 'Количество всех наблюдающихся облаков Cl или, при отсутствии облаков Cl, количество всех наблюдающихся облаков Cm' ,  'hint' )" onmouseout="hideInfo( this , 'hint' )">Nh</td>
                    <td onmouseover="tooltip( this , 'Высота основания самых низких облаков (м)' ,  'hint' )" onmouseout="hideInfo( this , 'hint' )">H</td>
                    <td onmouseover="tooltip( this , 'Высококучевые, высокослоистые и слоисто-дождевые облака' ,  'hint' )" onmouseout="hideInfo( this , 'hint' )">Cm</td>
                    <td onmouseover="tooltip( this , 'Перистые, перисто-кучевые и перисто-слоистые облака' ,  'hint' )" onmouseout="hideInfo( this , 'hint' )">Ch</td>
                    <td onmouseover="tooltip( this , 'Горизонтальная дальность видимости (км)' ,  'hint' )" onmouseout="hideInfo( this , 'hint' )">VV</td>
                    <td onmouseover="tooltip( this , 'Температура точки росы на высоте 2 метра над поверхностью земли (градусы Цельсия)' ,  'hint' )" onmouseout="hideInfo( this , 'hint' )">Td</td>
                    <td onmouseover="tooltip( this , 'Количество выпавших осадков (миллиметры)' ,  'hint' )" onmouseout="hideInfo( this , 'hint' )">RRR</td>
                    <td onmouseover="tooltip( this , 'Период времени, за который накоплено указанное количество осадков (часы)' ,  'hint' )" onmouseout="hideInfo( this , 'hint' )">tR</td>
                    <td onmouseover="tooltip( this , 'Состояние поверхности почвы без снега или измеримого ледяного покрова' ,  'hint' )" onmouseout="hideInfo( this , 'hint' )">E</td>
                    <td onmouseover="tooltip( this , 'Минимальная температура поверхности почвы за ночь. (градусы Цельсия)' ,  'hint' )" onmouseout="hideInfo( this , 'hint' )">Tg</td>
                    <td onmouseover="tooltip( this , 'Состояние поверхности почвы со снегом или измеримым ледяным покровом' ,  'hint' )" onmouseout="hideInfo( this , 'hint' )">E'</td>
                    <td onmouseover="tooltip( this , 'Высота снежного покрова (см)' ,  'hint' )" onmouseout="hideInfo( this , 'hint' )">sss</td>
                </tr>
                <tbody>

                {% for i in data %}
                <tr>
                    <td class="date"> {{i.date}} </td>
                    <td> {{i.T}} </td>
                    <td> {{i.P0}} </td>
                    <td> {{i.P}} </td>
                    <td> {{i.Pa}} </td>
                    <td> {{i.U}} </td>
                    <td> {{i.DD}} </td>
                    <td> {{i.Ff}} </td>
                    <td> {{i.ff10}} </td>
                    <td> {{i.ff3}} </td>
                    <td> {{i.N}} </td>
                    <td> {{i.WW}} </td>
                    <td> {{i.W1}} </td>
                    <td> {{i.W2}} </td>
                    <td> {{i.Tn}} </td>
                    <td> {{i.Tx}} </td>
                    <td> {{i.Cl}} </td>
                    <td> {{i.Nh}} </td>
                    <td> {{i.H}} </td>
                    <td> {{i.Cm}} </td>
                    <td> {{i.Ch}} </td>
                    <td> {{i.VV}} </td>
                    <td> {{i.Td}} </td>
                    <td> {{i.RRR}} </td>
                    <td> {{i.tR}} </td>
                    <td> {{i.E}} </td>
                    <td> {{i.Tg}} </td>
                    <td> {{i.E1}} </td>
                    <td> {{i.sss}} </td>

                </tr>
                {% endfor %}


                </tbody>
            </table>

{% endblock %}

{% block hq_script %}
        <script src="{% static 'js/hints.js'%}"></script>
        <script src="{% static 'js/ajax-form.js'%}"></script>
        <script src="{% static 'js/table-control.js'%}"></script>
        <script>
            
            function download_xml(){
                
                var xml_data = '{{xml | safe}}';
                xml_data = formatXml(xml_data);

                var hiddenElement = document.createElement('a');

                hiddenElement.href = 'data:attachment/text,' + encodeURI(xml_data);
                hiddenElement.target = '_blank';
                hiddenElement.download = 'weather_data.xml';
                hiddenElement.click();
            }
            
            function formatXml(xml) {
                var reg = /(>)\s*(<)(\/*)/g; // updated Mar 30, 2015
                var wsexp = / *(.*) +\n/g;
                var contexp = /(<.+>)(.+\n)/g;
                xml = xml.replace(reg, '$1\n$2$3').replace(wsexp, '$1\n').replace(contexp, '$1\n$2');
                var pad = 0;
                var formatted = '';
                var lines = xml.split('\n');
                var indent = 0;
                var lastType = 'other';
                // 4 types of tags - single, closing, opening, other (text, doctype, comment) - 4*4 = 16 transitions 
                var transitions = {
                    'single->single': 0,
                    'single->closing': -1,
                    'single->opening': 0,
                    'single->other': 0,
                    'closing->single': 0,
                    'closing->closing': -1,
                    'closing->opening': 0,
                    'closing->other': 0,
                    'opening->single': 1,
                    'opening->closing': 0,
                    'opening->opening': 1,
                    'opening->other': 1,
                    'other->single': 0,
                    'other->closing': -1,
                    'other->opening': 0,
                    'other->other': 0
                };
                    
                for (var i = 0; i < lines.length; i++) {
                var ln = lines[i];
                var single = Boolean(ln.match(/<.+\/>/)); // is this line a single tag? ex. <br />
                var closing = Boolean(ln.match(/<\/.+>/)); // is this a closing tag? ex. </a>
                var opening = Boolean(ln.match(/<[^!].*>/)); // is this even a tag (that's not <!something>)
                var type = single ? 'single' : closing ? 'closing' : opening ? 'opening' : 'other';
                var fromTo = lastType + '->' + type;
                lastType = type;
                var padding = '';
                    
                indent += transitions[fromTo];
                for (var j = 0; j < indent; j++) {
                    padding += '\t';
                }
                if (fromTo == 'opening->closing')
                    formatted = formatted.substr(0, formatted.length - 1) + ln + '\n'; // substr removes line break (\n) from prev loop
                else    
                    formatted += padding + ln + '\n';
            }

            return formatted;
        };
            
        </script>
{%  endblock %}

{%block history_decor %}
             <li class="active"><a href="/history">История</a></li>
            <li><a href="/forecast">Прогноз</a></li>
            <li><a href="/about">О проекте</a></li>
            {% endblock %}
