* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url(../images/back.jpg) no-repeat center center fixed;
    background-size: cover;
}

main {
    width: 80%;
}

form {
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 80%;
    padding: 10px;
    border-radius: 3px;
}

#sign_up_btn {
    margin-right: 10px;
}

#sign_in_btn {
    margin-right: 5px;
    margin-left: 10px;
}
