* {
    margin: 0px;
    padding: 0px;
}
body {
    background: url(../images/back.jpg) no-repeat center center fixed;
    background-size: cover;
}
main {
    width: 80%;
}
form {
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 80%;
    padding: 10px;
    border-radius: 3px;
}
table {
    width: 100%;
    height: 100%;
}
.header {
    background: #c5deea;
    background: -moz-linear-gradient(top, #c5deea 0%, #8abbd7 31%, #066dab 100%);
    background: -webkit-linear-gradient(top, #c5deea 0%, #8abbd7 31%, #066dab 100%);
    background: linear-gradient(to bottom, #c5deea 0%, #8abbd7 31%, #066dab 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab', GradientType=0);
}
.normal {
    border: 0 solid #555555;
    background: #f9f9f7;
    box-shadow: 1px 1px 15px #23315e;
    color: #000;
    padding: 7px 7px 7px 9px;
}
#hint {
    visibility: hidden;
    position: absolute;
    max-width: 300px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 1000;
    cursor: help;
    text-align: left;
    font-size: 13px;
}
#sign_up_btn {
    margin-right: 10px;
}
#sign_in_btn {
    margin-right: 5px;
    margin-left: 10px;
}
