* {
    margin: 0px;
    padding: 0px;
}
body {
    background: url("images/back.jpg") no-repeat center center fixed;
    background-size: cover;
}
main {
    width: 80%;
    margin:auto;
}
form {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 3px;
}
.authform {
  margin-top: 5%;
}
#logout {
    background-color: rgba(0, 0, 0, 0);
}
#sign_up_btn {
    margin-right: 10px;
}
#sign_in_btn {
    margin-right: 5px;
    margin-left: 10px;
}
