table {
    border-collapse: collapse;
    margin: auto;
    font-size: 12px;
    text-align: center;
}
#hint {
    visibility: hidden;
    position: absolute;
    max-width: 300px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 1000;
    cursor: help;
    text-align: left;
    font-size: 13px;
}
.normal {
    border: 0 solid #555555;
    background: #f9f9f7;
    box-shadow: 1px 1px 15px #23315e;
    color: #000;
    padding: 7px 7px 7px 9px;
}
.header {
    font-size: 13px;
    font-weight: 300;
    background-image: -ms-linear-gradient(top, #B6D6ED 0%, #AAC8E2 100%);
    background-image: -moz-linear-gradient(top, #B6D6ED 0%, #AAC8E2 100%);
    background-image: -o-linear-gradient(top, #B6D6ED 0%, #AAC8E2 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B6D6ED), color-stop(100, #AAC8E2));
    background-image: -webkit-linear-gradient(top, #B6D6ED 0%, #AAC8E2 100%);
    background-image: linear-gradient(to bottom, #B6D6ED 0%, #AAC8E2 100%);
}
.day {
    background-color: #FFFFFF;
}

.night {
    background-color: #EBEBEB;
}
